% Config parameters for each system application
[
	{sasl, 	% parameters for SASL application
		[
			{sasl_error_logger,false}, 	% Don't use default SASL error logger
			{error_logger_mf_dir,"/var/log/zfor"}, 	% Set logging directory
			{error_logger_mf_maxbytes,10485760}, 	% Limit maximum size for each log file to 1MB
			{error_logger_mf_maxfiles,10} 	% Reserve at most 10 rotated log files
		]
	}
].

% vim:ft=erlang ts=4 sw=4

